<!DOCTYPE html>
<html>
<body>

<form action="action_page.php">
  First name:<br>
  <input type="text" name="email" value="Email">
  <br>
  Last name:<br>
  <input type="password" name="Password" value="Password">
  <br><br>
  <input type="radio" value="individual"> Individual
  <br>
  <input type="radio" value="company"> Company
  <br><br>
  <input type="submit" value="Submit">

</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "action_page.php".</p>

</body>
</html>
